/*GENERAL*/
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: auto;
    color: #000000;
    background-color: #F6F6F6;
}
header{
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
    padding: 30px;
    position: relative;
    display: flex;
    background-color: #FFFFFF;
}
main{
    width: 98%;
    max-width: 1440px;
    margin: auto;
}
.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.flexBetween{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}
.flexColumnCentre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnAround{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexColumnBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.decorationNone{
    text-decoration: none;
}
.bordureNone{
    border: none;
}
.colorViolet{
    color:#9356dc;  
}
.colorRose{
    color:#ff79da;
}
.colorVioletClair{
    color:  #f2eafb;
}
.colorTurquoise{
    background: color #99e2d0; 
}
.backgris{
    background-color:#eaeaea;  
}
.backblanc{
    background-color: white;
}
.texteGras{
    font-weight: bold;  
} 
.policeRoboto{
    font-family : 'Roboto', sans-serif
}
.policeShrikhand{
    font-family : 'Shrikhand', cursif;
}
/*HEADER*/
.logo{
    margin-left: 30px;
    width: 250px;
}
/*NAV*/
.localisation{
 background-color: #eaeaea ;
 padding: 15px; 
}
.localisation__texte {
    margin-left: 46%;
    font-family : 'Roboto', sans-serif;
    font-weight: 400;
}
/*MAIN*/
.policeRoboto100{
    font-weight: 100;
}
h1{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 40px 0;
    text-align: center;
    font-family : 'Roboto', sans-serif
}
.reservation{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #F6F6F6;
}
.reservation__soustitre{
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}
button{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    border: none;
}
.bouton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 50px;
    text-align: center;
    color: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    background: linear-gradient(
175deg, #FF79DA 10%, #9356DC 95%);
    transition: box-shadow 150ms linear, transform 150ms linear;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 30%);
}
.bouton:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.Fonctionnement{
    height: 400px;
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Fonctionnement__titre{
    align-items: center;
}
.bloc{
    margin-bottom: 10px;
}
.cubeFonctionnement{
    width: 25%;
    height: 170px;
    background-color: #F6F6F6;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeFonctionnement:hover{
    background-color: #f2eafb;
}
.logo1{
    color: #7e7e7e;
}
.cubeFonctionnement:hover .logo1{
    color: #9356dc;
}
h2{
    text-align: center;
}
.cercle-nombre{
    position: absolute;
    top: 535px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
}
.cercle{
    position: absolute;
    z-index: 4;
    width: 28.8px;
    height: 28.8px;
    border-radius: 50%;
    background-color: #9356DC;
}
.nombre{
    font-size: 0.85rem;
    font-weight: 400;
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.8px;
    height: 28.8px;
    color: #FFFFFF;
}
/*SECTION*/
.Restaurants{
    margin-top: 50px;
    margin-bottom: 50px;
}
.blocRestaurants{
    width: 75%;
    height: 75%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}
.cubeRestaurants{
    width: 23%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin: auto;
    position: relative;
}
.imgRestaurants{
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.titreRestaurants{
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
.nouveau{
    background-color: #99e2d0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    top: 1rem;
    right: .75rem;
    position: absolute;
}
.favoris{
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 180%;
}
.coeur1{
    font-size: 24px;
    position: absolute;
    z-index: 1;
    color: #000000;
}
.coeur2{
    font-size: 24px;
    position: absolute;
    z-index: 2; 
    -webkit-text-fill-color: transparent;  
}
.coeur2:hover{
    transform: scale(1);
    animation: coeur 0.3s .3s ease-out both,transform .3s;
    background: -webkit-linear-gradient(175deg, #FF79DA 10%, #9356DC 95%);
    -webkit-background-clip: text;
}
/*FOOTER*/
.footer{
    height: 150px;
    margin-top: 50px;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lienFooter{
    color: white; 
}
.lienFooter:hover{
    color: #ff79da;

}
.divLienFooter{
    height: 1px;
    margin-left: 80px;
    margin-right: 80px;
}

.logo3{
    color: white;
}
.logo4{
    filter: invert(100%);
    margin-top: -35px;

}
.colorBlack{
    color: black
}
@keyframes coeur{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 1;
    }
}
